.nav {
    grid-area: n;
    background-color: white;
    margin: 10px;
    border-radius: 8px;
    padding: 10px;
}

.item{
    color:cornflowerblue;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.active{
    color: darkgoldenrod;
    font-size: 18px;

}

/*.active{*/
/*    color: gold;*/
/*}*/