.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;

    grid-template-areas:
    "h h"
    "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.header {
    grid-area: h;
    background-color: darkgreen;
}
.header img{
    width: 80px;
}

.nav {
    grid-area: n;
    background-color: bisque;
}

.content {
    grid-area: c;
    background-color: lightblue;
}

.content img{
    width: 100%;
}