.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems .dialog {
}

.messages {

}

.messages .message {

}

.dialogsItems .active{
    color: darkgoldenrod;
}
.dialogs textarea{
margin-top: 50px;
}
/*.dialogs button{*/
/*    width: 50px;*/
/*    margin-top: 100px;*/
/*}*/